.container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  gap: 20px;

  .btn{
    width: 100%;
  }
}

@media screen and (max-width: 965px) {

  .container{
    width: 90%;
    .btn{
      width: 100%
    }
  }
}