.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;

    .homeButton {
        cursor: pointer;
        color: white;
        border: 1px solid rgba(128, 128, 128, 0.338);
        border-radius: 12px;
        padding: 10px;
        transition-duration: 0.2s;
        &:hover{
            transform: scale(1.07);
        }
    }
}